.status-primljeno { background-color: #d4edda; }
.status-poslato { background-color: #fff3cd; }
.status-stiglo { background-color: #cce5ff; }
.status-otkazano { background-color: #f8d7da; }

.wishlist-icon {
    font-size: 24px;
    cursor: pointer;
    color: gray;
}

.wishlist-icon.added {
    color: gold;
}
