.status-primljeno { background-color: #d4edda; } /* Green */
.status-poslato { background-color: #fff3cd; }   /* Yellow */
.status-stiglo { background-color: #cce5ff; }    /* Blue */
.status-otkazano { background-color: #f8d7da; }  /* Red */

.wishlist-icon {
    font-size: 24px;
    cursor: pointer;
    color: gray; /* Default color */
}

.wishlist-icon.added {
    color: gold; /* Color when added to wishlist */
}
